/* Common Css */
.text-orange{
    color: orange;
}
p{
    font-size: 20px;
}
.btn-bg{
    font-size: 18px;
    background-image: linear-gradient(to right, rgb(246, 98, 5), rgb(247, 146, 5));
    border: 0;
    transition: .5s;
}
.btn-bg:hover{
color: #fff;
}
/* Top banner */
.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
/* Dream Big */
.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: right;
}
/* Experiences */
.experiences{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-size: 60px;
}
.experience-item1{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(242, 161, 55), rgb(12, 236, 239), tomato);
    border-image-slice: 1;
}
.experience-item2{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(4, 246, 21), rgb(245, 132, 2), rgb(197, 102, 241));
    border-image-slice: 1;
}